In [1]:
import pandas as pd
import tabula

In [11]:
filename = 'Goodman_1'
dataframe_raw = tabula.read_pdf(filename+'.pdf')

In [12]:
dataframe_raw.head(2)

,Product Description,MON TUE,WED,THU,FRI,SAT,SUN,Total,List,Price,Net Val,GST,Unnamed: 12,GST Amt,Net Val.1
0,NaN,24/06 25/06,26/06,27/06,28/06,29/06,30/06,Units,Price,NaN,Excl GST,(%),NaN,($),Incl GST
1,NaN,Del Ret Del Ret,Del Ret,Del Ret,Del Ret,Del Ret,Del Ret,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
dataframe_raw.to_csv(filename+'.csv',header=True,index=None)